@font-face {
  font-family: "Neue Montreal Book";
  src: url("/fonts/PPNeueMontreal-Book.otf");
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal Bold";
  src: url("/fonts/PPNeueMontreal-Bold.otf");
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Neue Montreal Book";
  font-weight: normal;
  color: var(--main-color);
  background-color: var(--background-color);
  overscroll-behavior-y: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  cursor: default;
  font-weight: normal;
}

::selection {
  color: var(--background-color);
  background-color: var(--background-color);
}

.title {
  font-weight: normal;

  font-family: "Neue Montreal Bold", sans-serif;
  text-align: center;
  line-height: 0.9;
  letter-spacing: 0px;
}
.main-title {
  font-size: 12vw;
  margin-bottom: 2vw;
}
.main-subtitle {
  font-size: 6vw;
  letter-spacing: 0px;
}
